nav {
    background-color: #00A0CF;
    background-image: linear-gradient(#0087BD 1px, #33B8DB 1px, #00A6D2 1px, #0099CB);
    border-width: 0px;
    font-size: 11px;
    height: 30px;
}

nav a {
    width: 100%;
    display: block;
    padding: 3px 5px;
}

nav a,
nav a:active,
nav a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav>div#nav_wrap {
    display: inline-block;
    height: 30px;
    white-space: nowrap;
}

nav>div#nav_wrap>div.nav-dp-1:first-child {
    margin-left: 20px
}

nav>div#nav_wrap>div.nav-dp-1 {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    margin-right: -4px;
}

nav>div#nav_wrap>div.nav-dp-1>a {
    font-weight: 700;
    text-shadow: 1px 1px 1px #2e2e2e;
    font-size: 11px;
    color: #fff;
    display: block;
    padding: 9px 6px;
    line-height: 1rem;
}

nav>div#nav_wrap>div.nav-dp-1:hover>a {
    background: linear-gradient(#0087BD 1px, #33B8DB 1px, #ffffff 1px, #d6d6d6);
    color: #000;
    text-shadow: 1px 1px 1px #aaaaaa;
}

nav>div#nav_wrap>div.nav-dp-1.nav-active>a {
    background: linear-gradient(#0087BD 1px, #33B8DB 1px, #ffffff 1px, #F2F2F2);
    color: #000;
    text-shadow: -1px -1px 1px #aaaaaa;
}

nav>div#nav_wrap>div.nav-dp-1.nav-active>a {
    color: #000;
    text-shadow: 1px 1px 1px #aaaaaa;
}

nav>div#nav_wrap>div.nav-dp-1:hover .nav-dp-2 {
    display: block;
}

nav>div#nav_wrap>div.nav-dp-1>.nav-dp-2 {
    display: none;
    position: absolute;
    margin-top: -1px;
    padding: 1px;
    width: auto;
    z-index: 9090
}

nav>div#nav_wrap>div.nav-dp-1>.nav-dp-2::after {
    content: "";
    display: block;
    clear: both;
}

nav div.nav-box {
    background: #F2F2F2;
    box-shadow: 2px 2px 2px #8F8F8F;
    border: 1px solid #CDCDCD
}

nav div.nav-box div.nav-dp-2-item:hover {
    background: #91C9F7;
}

nav div.nav-box div.nav-dp-2-item.nav-has-child>a.nav-dp-2-link>span:after {
    content: "▶";
    display: block;
    float: right;
    font-size: 10px;
    color: #2e2e2e;
}

nav div.nav-box div.nav-dp-2-item.nav-has-child>a.nav-dp-2-link:after {
    content: "";
    display: block;
    clear: both;
}

nav div.nav-box div.nav-dp-2-item div.nav-dp-3 a.nav-dp-3-link:hover {
    background: #91C9F7;
}

nav div.nav-box a {
    color: #000;
    width: 100%;
    padding: 5px 5px;
    display: block;
}

nav>div#nav_wrap>div.nav-dp-1>.nav-dp-2>.nav-dp-2-item {
    position: relative;
    min-width: 140px;
    white-space: nowrap;
}

nav>div#nav_wrap>div.nav-dp-1>.nav-dp-2>.nav-dp-2-item:after {
    display: block;
    clear: both;
    content: "";
}

nav>div#nav_wrap>div.nav-dp-1>.nav-dp-2>.nav-dp-2-item:hover .nav-dp-3 {
    display: block;
}

nav>div#nav_wrap>div.nav-dp-1>.nav-dp-2>.nav-dp-2-item>.nav-dp-3 {
    display: none;
    position: absolute;
    left: 100%;
    min-width: 105px;
    top: -2px;
    z-index: 9091;
}

nav>div#nav_wrap>div.nav-dp-1>.nav-dp-2>.nav-dp-2-item>.nav-dp-3>a {
    display: block;
    padding: 3px 10px;
    white-space: nowrap;
}

nav>div#nav_wrap>#toggle_nav_sub {
    float: right;
    margin-right: 20px;
}

div#nav_sub {
    text-align: left;
    height: 25px;
    clear: both;
    background: #F2F2F2;
    display: inline-block;
    width: 100%;
}

div#nav_sub_wrap {
    position: relative;
    left: 5px;
    display: inline-block;
    height: 25px;
    width: auto;
    white-space: nowrap;
}

div#nav_sub_wrap a:hover {
    text-decoration: none;
}

div#nav_sub_wrap div.nav-dp-2-item {
    display: inline-block;
    position: relative;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    margin-right: -4px;
}

div#nav_sub_wrap div.nav-dp-2-item>a.nav-dp-2-link {
    display: block;
    padding: 6px 3px;
    height: 25px;
    color: #504f4f;
}

div#nav_sub_wrap div.nav-dp-2-item>a.nav-dp-2-link>span {
    font-size: 0.86rem;
    letter-spacing: -0.05rem;
    display: inline-block
}

div#nav_sub_wrap div.nav-dp-3 {
    display: none;
}

div#nav_sub_wrap div.nav-dp-2-item:hover>a {
    background: #91C9F7;
    color: #000000;
}

div#nav_sub_wrap div.nav-dp-2-item.nav-has-child:hover>div.nav-box {
    display: block;
}

div#nav_sub_wrap div.nav-dp-2-item.nav-has-child>div.nav-box {
    background: #F2F2F2;
    box-shadow: 2px 2px 2px #8F8F8F;
    border: 1px solid #CDCDCD;
    position: absolute;
    left: 0px;
    margin-top: -1px;
    min-width: 105px;
    z-index: 9091;
}

div#nav_sub_wrap div.nav-dp-2-item.nav-has-child>div.nav-box a {
    color: #000;
    width: 100%;
    padding: 5px 5px;
    display: block;
}

div#nav_sub_wrap div.nav-dp-2-item.nav-has-child>div.nav-box>a:hover {
    background: #91C9F7;
}

div#nav_sub_wrap>div.nav-dp-2-item>div.nav-dp-3 {
    position: relative;
    min-width: 140px;
    white-space: nowrap;
}

div#nav_sub_wrap>div.nav-dp-2-item.nav-has-child>a.nav-dp-2-link>span:after {
    content: "▼";
    display: block;
    float: right;
    font-size: 10px;
    color: #2e2e2e;
    padding-left: 2px;
}

header>div.top-header>div#more-link {
    float: right;
}

header>div.top-header>div#more-link a {
    color: #000000;
    font-size: 11px;
}

header>div.top-header>div#more-link a:hover {
    text-decoration: none;
}

header>div.top-header>div#more-link>ul {
    margin: 0px;
    padding: 0px;
    display: block;
    list-style: none;
}

header>div.top-header>div#more-link>ul:after {
    content: "";
    display: block;
    clear: both;
}

header>div.top-header>div#more-link>ul>li {
    float: left;
    position: relative;
}

header>div.top-header>div#more-link>ul>li>a {
    display: block;
    padding: 5px 2px;
    margin: 4px;
}

header>div.top-header>div#more-link>ul>li>ol {
    display: none;
    list-style: none;
    background: #F2F2F2;
    box-shadow: 2px 2px 2px #8F8F8F;
    border: 1px solid #CDCDCD;
    position: absolute;
    z-index: 9999;
    margin: 0px;
    padding: 0px;
    min-width: fit-content;
}

header>div.top-header>div#more-link>ul>li>ol>li {
    margin: 0px;
    padding: 0px;
    display: block;
}

header>div.top-header>div#more-link>ul>li>ol>li>a {
    display: block;
    padding: 5px;
    min-width: 80px
}

header>div.top-header>div#more-link>ul>li.more-link-dp-1:hover {
    background: #91C9F7;
}

header>div.top-header>div#more-link>ul>li.more-link-dp-1:hover>ol {
    display: block;
}

header>div.top-header>div#more-link>ul>li.more-link-dp-1>ol>li:hover {
    background: #91C9F7;
}